.body{
    background-image:url(https://cdn.pixabay.com/photo/2016/02/19/10/59/art-1209519_960_720.jpg);
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    
}
.container{
    display: grid;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 10px outset rgb(230, 23, 23);
   
    background-color: white;
    
   
}
.grid{
    border: 1px outset black;
}
.grid.draw{
    background-color: black;
}
.buttons{
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: space-between;

}
.btn:hover{
    border-radius: 25px;
    background-color: blanchedalmond;
    color: black;
    border-bottom: 4px outset rgb(10, 2, 2);
    border-right: 4px outset rgb(5, 1, 1);
}
.btn:active{
    border-radius: 25px;
    background-color: darkred;
    color: white;
    border-bottom: 4px outset rgb(10, 2, 2);
    border-right: 4px outset rgb(5, 1, 1);
}
.btn{
    border-radius: 25px;
    border-bottom: 8px outset rgb(252, 249, 249);
    border-right: 8px outset rgb(252, 247, 247);
    
    width: 150px;
    height: 50px;
   font-size: large;
    font-weight: bold;
    background-color: black;
    color: white;
    font-style: oblique;
}