.container{
    display: flex;
    width: 500px;
    height: 500px;
    border: 2px outset black;
    
    flex-wrap: wrap;
}
.grid{
    display: flex;
    flex: 1 1 auto;
   aspect-ratio: auto;
    
    border: 1px outset black;
}
.grid.draw{
    background-color: black;
}